{% extends 'base.html.twig' %}

{% block title %}Les stagiaires{% endblock %}

{% block body %}

<div class="container mt-4 mb-4">

    <h1>Les stagiaires</h1>

        {% for message in app.flashes('success') %}

        <div class="flash-message flash-success">
            <span class="icon">✔️</span> {{ message}}
        </div>

        {% endfor %}

        {% for message in app.flashes('warning') %}

        <div class="flash-message flash-warning">
            <span class="icon">⚠️</span> {{ message }}
        </div>

        {% endfor %}

    <table class="table table-dark mt-4">
        <thead>
            <tr>
                <th scope="col" class="center size text-uppercase">Nom       </th>
                <th scope="col" class="center size text-uppercase">Prénom    </th>
                <th scope="col" class="center size text-uppercase">Sexe      </th>
                <th scope="col" class="center size text-uppercase">Date      </th>
                <th scope="col" class="center size text-uppercase">Ville     </th>
                <th scope="col" class="center size text-uppercase">Email     </th>
                <th scope="col" class="center size text-uppercase">Téléphone </th>
                <th scope="col" class="center size text-uppercase">Détails   </th>
            </tr>
        </thead>
        <tbody>
            {% for trainee in trainees %}
                <tr class="table-primary">
                    <td class="center"> {{ trainee.name }}                         </td>
                    <td class="center"> {{ trainee.firstName }}                    </td>
                    <td class="center"> {{ trainee.sex }}                          </td>
                    <td class="center"> {{ trainee.dateBirth|date('d/m/Y')  }}     </td>
                    <td class="center"> {{ trainee.town }}                         </td>
                    <td class="center"> {{ trainee.email }}                        </td>
                    <td class="center"> {{ trainee.telephone }}                    </td>
                    <td class="center"> <a href="{{ path('show_trainee',{id:trainee.id}) }}"> <img class="icone" src="{{ asset('img/detail.jpg') }}"/></a></td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('trainee.new') }}"> <button type="button" class="btn btn-dark mb-4"> Ajouter un stagiaire </button> </a>
</div>

{% endblock %}


