{% extends 'base.html.twig' %}

{% block title %} Fiche stagiaires {% endblock %}

{% block body %}

<div class="container mt-4">
    
    <h1>  <img src="{{ asset('img/contact.png') }}" alt="logo" srcset=""> Fiche stagiaires</h1>

        <h2 class="mb-4"> <b> {{ trainee.firstName }} {{ trainee.name }}  </b> </h2>

            <div>
                {% if app.user %}
                <p> <b> Sexe : </b> {{ trainee.sex }} </p> 
                <p> <b> Date de naissance : </b> {{ trainee.dateBirth|date('d/m/Y') }} ({{trainee.age}} ans)</p> 
                <p> <b> Ville : </b> {{ trainee.town }}  </p>
                <p> <b> Courriel : </b> {{ trainee.email }} </p>
                <p> <b> Téléphone : </b> {{ trainee.telephone }} </p>
                {% else %}

                {% endif %}

            </div>

        <h3 class="mt-4 mb-4"> Sessions  prévues </h3>

            <div class="mt-3 mb-4">

                {% for session in trainee.sessions %}

                <tr>
                    <td>
                        <ul> 
                            <li> 
                                <p>
                                    
                                    <b><a class="text-decoration-none " title="Lien vers la session" href="{{path('show_session', {id:session.id}) }}"> {{ session.name }} </a></b>

                                    (Du {{ session.startSession|date('d/m/Y') }} au {{ session.endSession|date('d/m/Y')   }})
                                </p>
                            </li>
                        </ul>
                    </td>
                </tr>

                {% endfor %}

            </div>

            {% if app.user %}

            <div style="display: flex; gap: 20px;">
                <td> <a href="{{ path('trainee.edit',   {id:trainee.id}) }}"><button type="button" class="btn btn-warning" data-nlok-ref-guid="1758b875-4f72-41d6-f4d6-49b1b6ef4bd5"> Modifier le stagiaire  </button></a>
                <td> <a href="{{ path('trainee.delete', {id:trainee.id}) }}"><button type="button" class="btn btn-danger " data-nlok-ref-guid="1758b875-4f72-41d6-f4d6-49b1b6ef4bd5"> Supprimer le stagaire </button></a>
            </div>

            {% else %}

            {% endif %}


    <a href="{{ path('trainee') }}"> <button type="submit" class="btn btn-dark mt-4" data-nlok-ref-guid="1758b875-4f72-41d6-f4d6-49b1b6ef4bd5"> Retour </button> </a>
    

</div>

{% endblock %}
