{% extends 'base.html.twig' %}

{% block title %}Les sessions{% endblock %}

{% block body %}

<div class="container mt-4">

<h1>Les sessions</h1>

{% for message in app.flashes('success') %}

<div class="flash-message flash-success">
    <span class="icon">✔️</span> {{ message}}
</div>

{% endfor %}

{% for message in app.flashes('warning') %}

<div class="flash-message flash-warning">
    <span class="icon">⚠️</span> {{ message }}
</div>

{% endfor %}

<table class="table table-dark mt-4 mb-4">
    <thead>
        <tr>
            <th scope="col" class="center size text-uppercase"> Nom</th>
            <th scope="col" class="center size text-uppercase"> Début de session</th>
            <th scope="col" class="center size text-uppercase"> Fin de session</th>
            <th scope="col" class="center size text-uppercase"> N° de places théoriques</th>
            <th scope="col" class="center size text-uppercase"> N° places réservées</th>
            <th scope="col" class="center size text-uppercase"> N° de places restantes</th>
            <th scope="col" class="center size text-uppercase"> Détails</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
            <tr class="table-primary">
                <td class="center">{{ session.name }}</td>
                <td class="center">{{ session.startSession|date('d/m/Y') }}</td>
                <td class="center">{{ session.endSession|date('d/m/Y') }}</td>
                <td class="center">{{ session.nbPlaces }}</td>
                <td class="center">{{ session.nbPlacesReserved }}</td>
                <td class="center">{{ session.nbPlaces - session.nbPlacesReserved }}</td>
                <td class="center"> <a href="{{ path('show_session', {id:session.id}) }}"> <img class="icone" src="{{ asset('img/detail.jpg') }}"/></a></td> 
            </tr>
        {% endfor %}
    </tbody>
</table>

    <a href="{{ path('session.new') }}"> <button type="submit" class="btn btn-dark mb-4" data-nlok-ref-guid="1758b875-4f72-41d6-f4d6-49b1b6ef4bd5"> Ajouter une session </button> </a>

</div>
{% endblock %}

