{% extends 'base.html.twig' %}

{% block title %}Détail d'une sessions{% endblock %}

{% block body %}

<div class="container mt-4">
<div class="table-container">

    <h1>Détail de la session </h1>
    
</div>

 <div class="container-information">
    <p><b>Name :</b> {{ session.name }}</p>
    <p><b>Date de démarrage :</b> {{ session.startSession|date('d/m/Y') }}</p>
    <p><b>Date de fin :</b> {{ session.endSession|date('d/m/Y') }}</p>
    <p><b>Nombre de places total :</b> {{ session.nbPlaces }}</p>
    <p><b>Nombre de places réservées :</b> {{ session.nbPlacesReserved }}</p>
    <p><b>Nombre de places restantes :</b> {{ session.nbPlaces - session.nbPlacesReserved }}</p>
 </div>

 <div class="table-container">
    
    <h2> Le Programme </h2>
    
    <table class="table table-dark mt-4 mb-4">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Début de session</th>
            </tr>
        </thead>
        <tbody>
            {% if session.programmes | default %}
                {% for program in session.programmes %}
                    <tr class="table-primary">
                        <td>{{ program.unit.name }} </td>
                        <td>{{ program.nbdays }} jours </td>
                    </tr>
                {% endfor %}
            {% endif %}

        </tbody>
    </table>

    <table class="table table-dark mt-4 mb-4">
        <thead>
            <tr>
                <th>Stagiaire inscrit</th>
                <th></th>
                <th>Stagiaire Non inscrit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if session.trainees | default %}
                {% for trainee in session.trainees %}
                    <tr class="table-primary">
                        <td>{{ trainee.name }} {{ trainee.firstName }}</td>
                        <td> <a href=""><button type="button" class="btn btn-danger" data-nlok-ref-guid="1758b875-4f72-41d6-f4d6-49b1b6ef4bd5"> DESINCRIPTION </button> </a></td>
                        <td>{{ trainee.name }} {{ trainee.firstName }}</td>
                        <td> <a href=""><button type="button" class="btn btn-success" data-nlok-ref-guid="1758b875-4f72-41d6-f4d6-49b1b6ef4bd5"> INSCRIPTION </button> </a> </td>
                    </tr>
                {% endfor %}
            {% endif %}

        </tbody>
    </table>

 </div>

<div class="container-button">
    <a href="{{ path('session') }}"><button type="submit" class="btn btn-dark mb-4" data-nlok-ref-guid="1758b875-4f72-41d6-f4d6-49b1b6ef4bd5"> Retour </button> </a>
</div>
</div>



{% endblock %}
